@use "../../../styles/General.scss";

.media {
  --gap-masonry: 2rem;
  padding-block: 14rem 12rem;
  justify-self: center;
  width: 100%;
  max-width: var(--maximum-width);
  column-width: 20rem;
  column-count: auto;
  gap: var(--gap-masonry);
  transition: .3s padding ease;
  box-sizing: border-box;
  @extend %lateral-paddings;

  .card_media {
    position: relative;
    height: min-content;
    border-radius: var(--border-radius-x1);
    break-inside: avoid;
    width: fit-content;
    overflow: hidden;
    margin-inline: auto;

    &:not(:first-child) {
      margin-top: var(--gap-masonry);
    }

    & .favorite_button {
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 6px;
    }

    &>a {
      text-decoration: none;

      .poster {
        object-fit: cover;
        display: block;
        width: 100%;
      }

      & .info {
        bottom: 0px;
        position: absolute;
        color: var(--ghost-white);
        backdrop-filter: blur(64px);
        width: 100%;
        text-align: center;
        padding: 12px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-sizing: border-box;

        & .info_title {
          @extend %organized-title;
          -webkit-text-stroke: 0.5px var(--black-chocolate);
          margin: 0px;
          word-break: break-word;
          font-family: "General Sans Bold";
        }

        & .statistics {
          display: flex;
          flex-wrap: wrap;
          column-gap: 8px;
          row-gap: 6px;
          justify-content: center;

          & .popularity,
          & .vote_average,
          & .vote_count {
            display: flex;
            gap: 4px;
            border: 1px solid color-mix(in srgb, transparent, var(--black-chocolate) 20%);
            padding: var(--padding-x2);
            border-radius: var(--border-radius-x2);
            background-color: color-mix(in srgb, transparent, var(--black-chocolate) 40%);
            align-items: center;

            &>svg {
              width: 1.25rem;
              height: 1.25rem;
            }

            & .heartSVG {
              color: red;
            }

            & .starSVG {
              color: yellow;
            }

            & span {
              font-size: 18px;
              line-height: normal;
            }
          }
        }

        & .media_type {
          display: block;
          -webkit-text-stroke: 1px var(--black-chocolate);
          letter-spacing: 1.5px;
          font-family: "General Sans Bold";
          font-size: 18px;
        }
      }
    }
  }
}