@use "../../../styles/General.scss";

.media {
  --gap-masonry: 2rem;
  padding-block: 10rem 12rem;
  justify-self: center;
  width: 100%;
  max-width: var(--maximum-width);
  column-width: 20rem;
  column-count: auto;
  gap: var(--gap-masonry);
  transition: .3s padding ease;
  box-sizing: border-box;
  @extend %lateral-paddings;

  .card_media {
    position: relative;
    height: min-content;
    border-radius: 6px;
    break-inside: avoid;
    margin-top: var(--gap-masonry);
    width: fit-content;
    overflow: hidden;
    margin-inline: auto;

    & .favorite_button {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    &>a {
      text-decoration: none;
      position: relative;

      .poster {
        object-fit: cover;
        display: block;
        width: 100%;
      }

      & .info {
        bottom: 0px;
        position: absolute;
        color: var(--ghost-white);
        backdrop-filter: blur(64px);
        width: 100%;
        text-align: center;
        padding: 12px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-sizing: border-box;

        & .info_title {
          @extend %organized-title;
          -webkit-text-stroke: 0.5px var(--black-chocolate);
          margin: 0px;
          word-break: break-word;
          font-family: "General Sans Bold";
        }

        & .statistics {
          display: flex;
          flex-wrap: wrap;
          column-gap: 12px;
          row-gap: 8px;
          justify-content: space-evenly;

          & .popularity,
          & .vote_average,
          & .vote_count {
            display: flex;
            gap: 4px;
            border-color: rgb(128 128 128 / 30%);
            border-width: 1px;
            border-style: solid;
            padding: 6px 12px;
            border-radius: 12px;
            background: rgb(0 0 0 / 20%);
            align-items: center;

            &>svg {
              width: 24px;
              height: 24px;
            }

            & .heartSVG {
              color: red;
            }

            & .starSVG {
              color: yellow;
            }

            & span {
              font-size: 18px;
              line-height: normal;
            }
          }
        }

        & .media_type {
          display: block;
          -webkit-text-stroke: 0.1px var(--black-chocolate);
          font-size: 18px;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}