@use "../../styles/General.scss";

.user_favorites {
  display: grid;
  align-items: baseline;

  .header {
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    position: sticky;
    top: 0px;

    .input_search {
      @extend %input-bottom-line;
      @extend %input-effect-cerise;

      flex-grow: 0.5;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        margin-left: 1px;
        margin-right: 0;
        background-image: url("../../icons/x-mark.svg");
        cursor: pointer;
      }
    }

    @media (max-width: 480px) {
      justify-content: center;
    }
  }

  .favorites_media {
    @extend %lateral-paddings;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

    .card {
      border: 1px solid rgb(226, 226, 226);
      word-break: break-word;
      display: grid;
      padding: 12px;
      gap: 6px;
      border-radius: 6px;
      position: relative;

      >img {
        border-radius: 6px;
        width: 100%;
      }

      .save_favorite_button {
        justify-self: end;
        align-self: start;
        position: absolute;
      }

      .img_not_found {
        @extend %no-image-style;
        height: 400px;
        align-self: start;
      }

      .name,
      .title {
        margin: 0;
      }

      .media_type {
        color: var(--cerise);
        font-weight: 600;
      }

      .popularity,
      .popularity,
      .vote_average,
      .vote_count {
        display: flex;
        align-items: center;
        gap: 6px;
        background-color: rgb(226, 226, 226);
        border-radius: 6px;
        padding: 3px 6px;

        >svg {
          width: 20px;
          height: 20px;
        }
      }

      .statistics {
        align-self: start;
        display: flex;
        gap: 6px;
        margin-top: 16px;

        .vote_average {
          >svg {
            color: yellow;
          }
        }

        .vote_count {
          >svg {
            color: red;
          }
        }
      }
    }

    .person {
      justify-items: center;
      align-self: start;
      max-width: 400px;

      .img_person {
        height: 400px;
        object-fit: cover;
        justify-self: center;
        aspect-ratio: 2 / 3;
      }

      .known {
        text-align: center;
        text-transform: lowercase;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .tv,
    .movie {
      align-self: start;
      max-width: 780px;

      >img {
        object-fit: contain;
        aspect-ratio: 78 / 43;
      }

      .overview {
        margin-bottom: 0;
      }
    }
  }
}