@use "Palette";

.empty {
  font-weight: 500;
  font-size: xx-large;
  word-break: break-word;
  color: Palette.$Black_Chocolate;
  display: grid;
  height: 100vh;
  width: 100vw;
  place-content: center;
  text-align: center;
  position: fixed;
}