@use "Palette";

.empty {
  display: grid;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  place-content: center;
  position: fixed;

  h1 {
    font-weight: 600;
    word-break: break-word;
    color: Palette.$Black_Chocolate;
    text-align: center;
  }
}