@use "Palette";

.Film {
  display: flex;
  flex-direction: column;

  img {
    transition: 0.3s;
    object-fit: contain;
    cursor: pointer;

    &:hover {
      transform: scale(1.013);
    }
  }

  .info {
    text-align: justify;

    h2 {
      text-align: center;
    }

    p {
      // limitación de 4 líneas para el párrafo
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      // ---
    }
  }
}