@use "Palette";

.FilmsPagination {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: grid;
  background-color: Palette.$Ghost_White;
  box-shadow: 0px 0px 7px 0px Palette.$Black_Chocolate;
  grid-template-columns: 85px 1fr 85px;
  text-align: center;
  align-items: center;
  padding: 10px 10%;
  z-index: 1;

  button {
    color: Palette.$Black_Chocolate;
    border: Palette.$Black_Chocolate solid 1px;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: small;
    cursor: pointer;

    &:active {
      background-color: Palette.$Tufts_Blue;
      color: Palette.$Ghost_White;
      border: Palette.$Tufts_Blue solid 1px;
    }
  }
}
