@use "./Palette.scss";

%lateral-paddings {
  padding-left: 30px;
  padding-right: 30px;
}

%no-image-style {
  color: Palette.$Ghost_White;
  background-color: Palette.$Black_Chocolate;
  opacity: 10%;
}

%transition-speed {
  transition: .5s;
}