@use "Palette";
@use "Normalize";

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

%home-shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

%lateral-paddings {
  padding-left: 2rem;
  padding-right: 2rem;
}

%no-image-style {
  color: Palette.$Ghost_White;
  background-color: Palette.$Black_Chocolate;
  opacity: 10%;
}

body {
  background-color: Palette.$Ghost_White;
}

* {
  font-family: "Fredoka", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
}