@use "./Palette.scss";

%lateral-paddings {
  padding-left: 32px;
  padding-right: 32px;
}

%no-image-style {
  color: Palette.$Ghost_White;
  background-color: rgb(226, 226, 226);
}

%transition-speed {
  transition: .5s;
}

%transition-effect-buttons {
  transition: all .3s ease;
}

// Button styles
%button-tufts-blue {
  border: none;
  outline: transparent;
  background-color: Palette.$Tufts_Blue;
  color: Palette.$Ghost_White;
  @extend %transition-effect-buttons;
  border-radius: 6px;
  padding: 2px 10px;
}

%button-ghost-white {
  border: none;
  outline: 0.1px solid Palette.$Black_Chocolate;
  background-color: Palette.$Ghost_White;
  @extend %transition-effect-buttons;
  border-radius: 6px;
  padding: 2px 10px;
}

%button-border-ghost-white {
  border: none;
  outline: 0.3px solid Palette.$Ghost_White;
  background-color: transparent;
  @extend %transition-effect-buttons;
  border-radius: 6px;
  padding: 2px 10px;
  color: Palette.$Ghost_White;
}

%button-effect-tufts-blue {

  &:hover,
  &:active {
    color: Palette.$Ghost_White;
    background-color: Palette.$Tufts_Blue;
    outline: 0.1px solid Palette.$Tufts_Blue;
  }
}

%button-effect-cerise {

  &:hover,
  &:active {
    color: Palette.$Ghost_White;
    background-color: Palette.$Cerise;
    outline: 0.1px solid Palette.$Cerise;
  }
}

%button-effect-black-chocolate {

  &:hover,
  &:active {
    color: Palette.$Ghost_White;
    background-color: Palette.$Black_Chocolate;
    outline: 0.1px solid Palette.$Black_Chocolate;
  }
}

%button-effect-ghost-white {

  &:hover,
  &:active {
    color: Palette.$Ghost_White;
    background-color: transparent;
    outline: 0.1px solid Palette.$Ghost_White;
  }
}

// Input styles
%input-bottom-line {
  outline: none;
  border: none;
  border-bottom: 1px solid Palette.$Black_Chocolate;
  padding: 2px 6px;
  @extend %transition-speed;
  background-color: Palette.$Ghost_White;
}

%input-effect-cerise {

  &:focus {
    border-bottom: 1px solid Palette.$Cerise;
  }
}