@use "./Palette.scss";

.go-back-button {
  border-radius: 5px;
  padding: 2px 10px;
  background-color: Palette.$Ghost_White;
  border: 1px solid Palette.$Black_Chocolate;
  color: Palette.$Black_Chocolate;
  transition: .1s;
}