@use "./Palette.scss";
@use "./General.scss";

.header {
  @extend %lateral-paddings;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: Palette.$Tufts_Blue;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  gap: 25px;
  align-items: center;
}