@use "./Palette";
@use "./General";

.Header {
  background-color: Palette.$Tufts_Blue;
  @extend %lateral-paddings;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  @extend %home-shadow;
  top: 0;
  z-index: 1;
}