@use "./Palette";
@use "./General";

.subtitle {
  font-weight: 600;
  opacity: 80%;
}

.subtitle,
.subtext,
.seasons-subtitle {
  color: Palette.$Black_Chocolate;
}

.media-details {
  word-break: break-word;

  .header {
    justify-content: center;

    button {
      flex-grow: 0.01;
    }

    div.user-options {
      flex-grow: 1;
    }
  }

  .banner {
    position: relative;

    img {
      width: 100%;
      max-height: 500px;
    }

    .person-img {
      object-fit: contain;
    }

    .film-img,
    .serie-img {
      object-fit: cover;
    }

    svg {
      height: 500px;
      width: 100%;
      @extend %no-image-style;
      opacity: 10%;
    }

    .titles {
      color: Palette.$Ghost_White;
      -webkit-text-stroke: 0.5px Palette.$Royal_Blue_Dark;
      position: absolute;
      bottom: 0;
      @extend %lateral-paddings;
      padding-bottom: 1.25rem;

      h1,
      h2 {
        margin: 0;
      }
    }
  }

  .info {
    @extend %lateral-paddings;
    padding-top: 1rem;

    .genres {
      display: flex;
      gap: 0.3rem;
      flex-wrap: wrap;

      small {
        background-color: Palette.$Ghost_White;
        color: Palette.$Cerise;
        border: 1px solid Palette.$Cerise;
        padding: 3px 7px;
        border-radius: 5px;
        white-space: nowrap;
      }
    }

    p {
      margin-bottom: 0;
    }

    .seasons {
      margin-block-start: 0;

      >li {
        margin-block-start: 0.5em;

        >ul {
          list-style: none;
        }
      }
    }

    .homepage {
      margin-inline-start: 40px;
      text-decoration: none;
      display: initial;

      &:hover {
        color: Palette.$Royal_Blue_Dark;
      }
    }
  }
}