@use "./Palette";
@use "./General";

.FilmsPagination {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: grid;
  background-color: Palette.$Ghost_White;
  @extend %home-shadow;
  grid-template-columns: 85px 1fr 85px;
  text-align: center;
  align-items: center;
  padding: 10px 10%;
  padding-right: calc((100% - 100vw) + 10%);
  z-index: 1;

  button {
    color: Palette.$Black_Chocolate;
    border: Palette.$Black_Chocolate solid 1px;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: small;

    &:active {
      background-color: Palette.$Tufts_Blue;
      color: Palette.$Ghost_White;
      border: Palette.$Tufts_Blue solid 1px;
    }
  }
}