@use "./Palette.scss";
@use "./General.scss";

.media-pagination {
  @extend %lateral-paddings;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: Palette.$Ghost_White;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1;
  align-self: end;

  >span {
    text-align: center;
    flex-grow: 1;
  }

  .previous-button,
  .next-button {
    @extend %button-ghost-white;
    @extend %button-effect-tufts-blue;
    padding: 5px 16px;
    font-size: 0.9rem;
    flex-grow: auto;
  }

  .aux-previous,
  .aux-next {
    flex-basis: 90px;
  }
}