@use "./Palette.scss";

.PageNotFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    margin-bottom: 5rem;
    font-size: 3ch;
    font-weight: bold;
    color: Palette.$Black_Chocolate;
  }

  button {
    background-color: Palette.$Cerise;
    color: Palette.$Ghost_White;
    border: Palette.$Ghost_White 1px solid;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;

    &:active {
      background-color: Palette.$Ghost_White;
      color: Palette.$Cerise;
      border-color: Palette.$Cerise;
    }
  }
}
