@use "../../styles/General.scss";

.page_not_found {
  display: grid;
  height: 100vh;
  justify-items: center;

  >div {
    font-size: 1.3rem;
    text-align: center;
    word-break: break-word;
    align-self: flex-end;
    align-self: flex-end;

    h2.border {
      -webkit-text-stroke: 0.5px var(--royal-blue-dark);
      color: transparent;
      position: absolute;
    }

    h2.wave {
      color: var(--royal-blue-dark);
      animation: wave 10s ease-in-out infinite;
    }
  }

  >button {
    @extend %button-ghost-white;
    @extend %button-effect-cerise;

    padding: 5px 15px;
    align-self: flex-start;
    margin-top: 50px;
    background-color: var(--cerise);
    color: var(--ghost-white);
    outline-color: var(--cerise);

    &:hover,
    &:active {
      background-color: var(--ghost-white);
      color: var(--cerise);
    }
  }
}

@keyframes wave {


  0%,
  100% {
    clip-path: circle(50% at 0 100%);
  }


  20% {
    clip-path: circle(35% at 50% 40%);
  }


  50% {
    clip-path: circle(20% at 100% 100%);
  }
}