@use "../../styles/General.scss";

.user_options {
  @extend %transition-speed;
  align-items: center;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-end;

  .user_info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >img {
      border-radius: 5px;
      width: 40px;
      height: 40px;
      border: 1px solid black;
    }
  }

  .dropdown_options {
    .dropdown_button {
      display: flex;
      border: none;
      background-color: transparent;
      color: var(--ghost-white);
      font-weight: 500;
      padding: 3px 5px;
      border-radius: 5px;
      @extend %transition-speed;

      >svg {
        height: 20px;
        width: 20px;
      }

      &:hover {
        background-color: var(--royal-blue-dark);
      }
    }

    .dropdown {
      display: none;
      background-color: var(--ghost-white);
      top: 80px;
      border-radius: 5px;
      border: .1px solid var(--royal-blue-dark);
      right: 20px;
      overflow: hidden;

      >a {
        color: var(--black-chocolate);
        text-decoration: none;
        padding: 5px 10px;
        text-align: center;
        width: 100%;

        &:hover,
        &:active {
          color: var(--ghost-white);
          background-color: var(--cerise);
        }
      }
    }

    .active {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
    }
  }

  & .log_in_button,
  & .sign_up_button {
    border: none;
    background-color: transparent;
    color: var(--black-chocolate);
    font-family: "General Sans Semibold";
    padding: 6px 12px;
    border-radius: 6px;
    @extend %transition-speed;

    &:hover {
      background-color: color-mix(in srgb, transparent, var(--royal-blue-dark) 60%);
      color: var(--ghost-white);
    }
  }
}