@use "../../styles/Palette.scss";
@use "../../styles/General.scss";

.user_options {
  @extend %transition-speed;
  align-items: center;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-end;

  .user_info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >img {
      border-radius: 5px;
      width: 40px;
      height: 40px;
      border: 1px solid black;
    }
  }

  .dropdown_options {
    .dropdown_button {
      display: flex;
      border: none;
      background-color: transparent;
      color: Palette.$Ghost_White;
      font-weight: 500;
      padding: 3px 5px;
      border-radius: 5px;
      @extend %transition-speed;

      >svg {
        height: 20px;
        width: 20px;
      }

      &:hover {
        background-color: Palette.$Royal_Blue_Dark;
      }
    }

    .dropdown {
      display: none;
      background-color: Palette.$Ghost_White;
      top: 80px;
      border-radius: 5px;
      border: .1px solid Palette.$Royal_Blue_Dark;
      right: 20px;
      overflow: hidden;

      >a {
        color: Palette.$Black_Chocolate;
        text-decoration: none;
        padding: 5px 10px;
        text-align: center;
        width: 100%;

        &:hover,
        &:active {
          color: Palette.$Ghost_White;
          background-color: Palette.$Cerise;
        }
      }
    }

    .active {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
    }
  }

  .log_in_button,
  .sign_up_button {
    border: none;
    background-color: transparent;
    color: Palette.$Black_Chocolate;
    -webkit-text-stroke: 0.1px Palette.$Ghost_White;
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 6px;
    @extend %transition-speed;

    &:hover {
      background-color: Palette.$Royal_Blue_Dark;
      color: Palette.$Ghost_White;
    }
  }
}