@use "./Palette.scss";
@use "./Normalize.scss";

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("./../fonts/general-sans/GeneralSans-Regular.woff2") format("woff2"),
    url("./../fonts/general-sans/GeneralSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("./../fonts/general-sans/GeneralSans-Semibold.woff2") format("woff2"),
    url("./../fonts/general-sans/GeneralSans-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans-Bold";
  src: url("./../fonts/general-sans/GeneralSans-bold.woff2") format("woff2"),
    url("./../fonts/general-sans/GeneralSans-bold.woff") format("woff");
  font-display: swap;
}

html {
  box-sizing: border-box;

  & * {

    & ::after,
    ::before {
      box-sizing: inherit;
    }
  }

  & body {
    background-color: Palette.$Ghost_White;

    #root {
      height: 100vh;

      & ::after,
      ::before {
        box-sizing: inherit;
      }
    }
  }
}

* {
  font-family: "GeneralSans-Regular", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
}