@use "./Palette.scss";
@use "./Normalize.scss";

@font-face {
  font-family: "GeneralSans-Regular";
  src: url("./../fonts/general-sans/GeneralSans-Regular.woff2") format("woff2"),
    url("./../fonts/general-sans/GeneralSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("./../fonts/general-sans/GeneralSans-Semibold.woff2") format("woff2"),
    url("./../fonts/general-sans/GeneralSans-Semibold.woff") format("woff");
}

@font-face {
  font-family: "GeneralSans-Bold";
  src: url("./../fonts/general-sans/GeneralSans-bold.woff2") format("woff2"),
    url("./../fonts/general-sans/GeneralSans-bold.woff") format("woff");
}

html {
  box-sizing: border-box;

  & * {

    & ::after,
    ::before {
      box-sizing: inherit;
    }
  }

  & body {
    background-color: Palette.$Ghost_White;
    font-family: "GeneralSans-Regular", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;

    & #root {
      height: 100vh;
      overflow: scroll;
    }
  }
}