.empty {
  display: flex;
  justify-content: center;
  align-items: center;

  & .text_advice {
    font-weight: 600;
    word-break: break-word;
    color: var(--black-chocolate);
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.75rem);
    margin: 0;
    height: min-content;
  }
}