@use "../../styles/Palette.scss";

.empty {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
  justify-content: center;
  align-items: center;

  & .text_advice {
    font-weight: 600;
    word-break: break-word;
    color: Palette.$Black_Chocolate;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.75rem);
    margin: 0;
    height: min-content;
  }
}