@use "../../styles/Palette.scss";
@use "../../styles/General.scss";

.header,
.in_session_header {
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  .search_input {
    @extend %input-bottom-line;
    @extend %input-effect-cerise;

    flex-grow: 0.5;
    flex-basis: 250px;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      background-image: url("../../icons/x-mark.svg");
      cursor: pointer;
    }
  }
}

.header {
  @media (max-width: 580px) {
    justify-content: center;
  }
}

.in_session_header {
  @media (max-width: 460px) {
    justify-content: center;
  }
}