@use "../../styles/General.scss";

.media_details_container {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr;

  & .header {
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    position: sticky;
    top: 0px;

    .user-options {
      flex-grow: 1;
    }

    .go-back-button {
      @extend %button-border-ghost-white;
      @extend %button-effect-ghost-white;
    }

    @media (max-width: 280px) {
      justify-content: center;
    }
  }

  & .media_details {
    word-break: break-word;
    display: grid;
    position: relative;
    max-width: var(--maximum-width);
    margin-inline: auto;
    height: 100%;
    align-content: baseline;

    & .save_favorite_button {
      justify-self: end;
      align-self: start;
      position: absolute;
      margin: 6px;
    }

    .subtitle {
      font-weight: 600;
      opacity: 90%;
      font-size: 1.15rem;
    }

    .subtitle,
    .subtext,
    .seasons_subtitle {
      color: var(--black-chocolate);
      font-size: 1rem;
    }

    .banner {
      position: relative;
      height: fit-content;

      .person_img,
      .film_img,
      .serie_img {
        width: 100%;
      }

      .person_img {
        object-fit: contain;
        height: 400px;
      }

      .film_img,
      .serie_img {
        object-fit: cover;
        width: 100%;
        height: 500px;
        aspect-ratio: 1280 / 1;
        display: block;
      }

      .titles {
        color: var(--ghost-white);
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        @extend %lateral-paddings;
        padding-bottom: 16px;
        padding-top: 16px;
        -webkit-text-stroke: 0.5px var(--royal-blue-dark);
        background: linear-gradient(90deg, rgb(0 0 0 / 50%), transparent);
        width: fit-content;

        & .media_title,
        .media_subtitle {
          margin: 0px;
        }

        & .media_title {
          font-family: "General Sans Bold";
          -webkit-text-stroke: 0.5px var(--royal-blue-dark);
          font-size: 32px;
        }

        & .media_subtitle {
          font-family: "General Sans Semibold";
          font-size: 20px;
        }
      }
    }

    & .info {
      @extend %lateral-paddings;
      padding-top: 16px;

      & .genres {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        list-style: none;
        padding: 0px;
        margin: 0px;

        &>li {
          background-color: var(--ghost-white);
          color: var(--cerise);
          border: 1px solid var(--cerise);
          padding: var(--padding-x1);
          border-radius: var(--border-radius-x1);
          white-space: nowrap;
          font-size: 0.85rem;
        }
      }

      >p {
        margin-bottom: 0;
        font-size: 1.2rem;
      }

      .seasons {
        margin-block-start: 0;

        >li {
          margin-block-start: 0.5em;

          >ul {
            list-style: none;
          }
        }
      }

      & .homepage {
        margin-inline-start: 40px;
        display: initial;

        &:hover {
          color: var(--royal-blue-dark);
        }
      }
    }
  }
}