@use "../../styles/General.scss";
@use "../../styles/Palette.scss";

.img {
  @extend %organized-title;

  color: Palette.$Black_Chocolate;
  text-align: center;
  background-color: #e2e2e2;
  min-height: 500px;
  width: 100%;
}